body {
    background-color: #d6e9c6;
}

#all {
    margin: 15% 30%;
    border: 1px solid #4cae4c;
    text-align: center;
    height: 50%;
    color: #398439;
}

#errName, #errPsw {
    color: red;
}

#nameDiv, #passwordDiv {
    margin: 0 auto;
}

#loginToRegister {
    margin-left: 350px;
}

.register {
    width: 480px;
    margin: 0 auto;
}

.error-tip {
    color: red;
}

.title {
    text-align: center;
    border: 1px rosybrown;
    width: 100%;
    height: 150px;
    font-family: "Abyssinica SIL";
    font-size: 37px;
}

.page {
    background-repeat: no-repeat;
    background-image: url("http://img02.tooopen.com/images/20160620/tooopen_sy_165702881727.jpg");
    height: 600px;
}

.header {
    height: 55px;
    background-color: #e7c3c3;
    line-height: 55px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.issue-room {
    background-color: lightseagreen;
    width: 105px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: auto;
}

.title-span {
    font-size: 24px;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.room1-picture {
    width: 660px;
    height: 435px;
}

.preview {
    height: 200px;
    width: 720px;
}

.room {
    width: 110px;
    height: 90px;
    cursor: pointer;
}

.body-right {
    float: right;
}
