#all {
    margin: 15% 30%;
    border: 1px solid #4cae4c;
    text-align: center;
    height: 50%;
    color: #398439;
}

#errName, #errPsw {
    color: red;
}

#nameDiv, #passwordDiv {
    margin: 0 auto;
}

#login {
    margin-left: 10px;
}

#cancel {
    margin-left: 10px;
}

a {
    margin-left: 350px;
}

.register{
    width:480px;
    margin: 0 auto;
}

.title {
    text-align: center;
    border: 1px rosybrown;
    width: 100%;
    height: 150px;
    font-family: "Abyssinica SIL";
    font-size: 37px;
}

.page{
    background-repeat: no-repeat;
    background-image: url("http://img02.tooopen.com/images/20160620/tooopen_sy_165702881727.jpg");
    height: 600px;
}

